// Header

header {
  @height: @headerHeight;
  @margin: 1rem;
  @bg: #00707e;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 600;

  // Move down header if logged in with admin-bar.
  body.admin-bar & {
    top: 32px;
  }

  .topHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 100;
    height: @height;
    background: @bg;

    h1 {
      margin: @height*0.2 @margin 0;
      display: inline-block;
      a {
        content: url(img/logo.svg);
        width: auto;
        height: @height*2;
        .rotate(-3deg);
      }
    }

    nav {
      position: absolute;
      top: 0px;
      left: auto;
      right: @margin;
      bottom: auto;
      font-size: @ratioHalfGolden*1rem;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline-block;
          line-height: @height;
          a {
            color: #FFF;
            text-decoration: none;
            line-height: inherit;
            display: inline-block;
            padding: 0 @margin*@ratioGolden;
            .capitals;
            &:hover {
              background: fade(#FFF,10%);
            }
          }
        }
      }
    }
  }

  .subHeader {
    @subhHeight: @ratioGolden * @height;

    position: absolute;;
    top: @height;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
    height: @subhHeight;
    line-height: @subhHeight;
    padding-left: calc(@height*2*@ratioLogo ~"+" @margin*1.5);

    color: #FFF;
    background: fade(@bg, 60%);

    .capitals;
    font-size: @ratioGolden*1rem;

    a {
      text-decoration: none;
      color: fade(#FFF, 70%);
      .transition(color 0.2s);
      &:hover {
        text-decoration: underline;;
        color: fade(#FFF, 100%);
      }
    }
  }
}

@media (max-width: 480px), (max-height: 480px)  {
  header {
    .topHeader{
      text-align: center;
      h1 {
        margin-top: @headerHeight*(1.9-1/@ratioHalfGolden)/2;
        a {
          height: @headerHeight*1/@ratioHalfGolden;
          width: auto;
        }
      }
      nav {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: auto;
        height: @headerHeight;
        //line-height: 2rem;
        background: #00707e;
      }
    }
    .subHeader {
      /*height: @headerHeight*1.5;
      padding: @headerHeight*0.8 0 0;
      text-align: center;*/
      color: rgba(0,0,0,0);
      a { display: none; }
    }
  }
}
