
@animatedBgSize: 512px;

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 750;
  background: darken(@bgColor, 10%) url(img/bg.svg);
  background-size: @animatedBgSize;

  .transition(transform .3s ease-in 0.2s);
  .animation(animatedBackground 1s linear infinite);
  >div {
    @size: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1/@ratioLogo*@size/2*1.5 @size/-2;
    > img {
      width: @size;
      height: auto;
    }
    &:after {
      content: 'Loading...';
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      height: 20px;
      text-align: center;
      margin: 1/@ratioLogo*@size/2*1.5 0;
    }
  }
  &.disabled {
    .translate3d(0px, -100vh, 0);
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -@animatedBgSize 0; }
}
