#MainContent {
  width: 95vw;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: @headerHeight 0 10vh;

  .strip {
    position: relative;
    width: 100%;
    height: auto;
    transform-origin: 50% 50%;

    > a > img {
      max-width: 100%;
      max-height: calc(85vh ~'-' @headerHeight);
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 480px) {
  .strip {
    margin-bottom: 20px;
  }
}
